h1{
	text-align: center;
}

#formulaireI{
	width: auto;
	height: auto;
}

.error{
	color: #d40f0f;
}

#formulaireInscription div span{
	margin-left: 10px;
	color: #f30303;
	font-size: 11px;
	font-style: italic;
}

#formulaireInscription div{
	margin-bottom: 15px;
}

#formulaireInscription div span.error{
	color: #e46c6e;	
}

#formulaireInscription textarea.error{
	background: #fd1c04;
	border-color: #15d746;	
}

#formulaireInscription #envoyer{
	background: #6f9ff1;
	color: #fff;
	font-weight: 700;
	font-style: normal;
	border: 0;
	cursor: pointer;
}

#formulaireInscription #envoyer:hoover{
	background: #79a7f1;
}

#formulaireInscription input.error{
	background: #f8dbdb;
	border-color: #e77776;	
}

#formulaireInscription textarea{
	width: 550px;
	height: 80px;
	padding: 6px;
	color: #adaeae;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-style: italic;
	font-size: 12px;
	border: 1px solid #cecece;
}