ul.menu li { 
    display : inline;
    color: black;
}
ul.menu {
    list-style-type : none; /* Car sinon les puces se placent n'importe où */
    box-shadow: 0px 5px 10px grey;
    border:solid black;
}

ul.menu a{
    text-decoration: none;
    color: black;
    margin: 0 4%;
}

section{
    border:solid black;
    box-shadow: 0px 5px 10px grey;
    width: 67%;
}

aside{
    width: 31%;
    float: right;
    border:solid black;
    box-shadow: 0px 5px 10px grey;
    vertical-align: top;
}

img{
    width: 75%;
}

div.icone{
    height: 10px;
    width: 10px;
}

footer{
    text-align: center;
}

footer li{
    list-style-type : none;
}

html{
background-color: #ffefd6;
}

