ul.menu li { 
    display : inline;
    color: black;
}
ul.menu {
    list-style-type : none; /* Car sinon les puces se placent n'importe où */
    box-shadow: 0px 5px 10px grey;
    border:solid black;
}

ul.menu a{
    text-decoration: none;
    color: black;
    margin: 0 4%;
}

section{
    border:solid black;
    box-shadow: 0px 5px 10px grey;
    width: 65%;
}

aside{
    width: 30%;
    float: right;
    border:solid black;
    box-shadow: 0px 5px 10px grey;
    vertical-align: top;
}

img{
    width: 100%;
    height: auto;
}