.error-message{
	background: url(../image/false1.gif) 10px center no-repeat;
	padding: 0 0 0 30px;
	display: inline;
	color: #ff5b5b;
	display: none;
}

#formulaireInscription{
	border : 3px solid #a7b85a;
	width: 1024px;
}