#formulaireInscription div span.glyphicon.glyphicon-ok{
	color: #21e738;
}
#formulaireInscription div span.glyphicon.glyphicon-remove{
	color: #d40f0f;
}

#formulaireGestionProfil div span.glyphicon.glyphicon-ok{
	color: #21e738;
}
#formulaireGestionProfil div span.glyphicon.glyphicon-remove{
	color: #d40f0f;
}

#formulaireModificationProfilArtiste div span.glyphicon.glyphicon-ok{
	color: #21e738;
}
#formulaireModificationProfilArtiste div span.glyphicon.glyphicon-remove{
	color: #d40f0f;
}

#formulaireModificationProfilSalle div span.glyphicon.glyphicon-ok{
	color: #21e738;
}

#formulaireModificationProfilSalle div span.glyphicon.glyphicon-remove{
	color: #d40f0f;
}


.inline-form input{
	display: inline-block;
	width: 200px;	
}

