@font-face {
    font-family: 'amatic';
    src : url('../fonts/AmaticSC-Regular.ttf') format('truetype');
    font-style: normal;

}

body {
    background-color: #fff0d9;
    margin :auto; /*a virer des que possible (bootstrap)*/
    width: 80%; /*a virer des que possible (bootstrap)*/
}

#main{
    border-top:solid black 2px;
    border-bottom:solid black 2px;
    padding-left: 0;
    padding-right: 0;
}

div#photoProfil{
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    min-height: 300px;
    padding: 0;
}
div#bandeauProfil{
    border-bottom: solid black 2px;
    margin-bottom: 0;
}

div#genreMusical{
    border-right: solid black 2px;
    border-left: solid black 2px;
}

div#albumPhoto,#agenda,#acces{
    /*border: solid black 1px;*/
    min-height: 200px;
}

div#commentaire{
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    margin-right: -15px;
}

.navbar-form{
    margin-top: -14px;
}
@media(min-width: 775px) {
    .navbar-form #border{
        margin-bottom: -19px;
        margin-top: -14px;
        border-right: solid 1px black;
        color: black;
        text-decoration: none;
        font-weight: bold;
    }
    .navbar-form {margin-bottom: -19px;}
}

#menuConnexion{
    border-left: solid 1px black;
    margin-bottom: -100px;
    vertical-align: top;
}
/*
#menuConnexion img{
    margin-top: -60px;
    max-height: 100px;
    width:auto;
}
*/
#banner{
    border-bottom: solid 7px black;
    margin-right: -15px;
}

img{
    width :100%;
}

#map-canvas {
    position: inherit;
    height: 200px;
    background-color : #CCC;	
}


div#texteCommentaire img{
    height:25px;
    width :25px;
}

ul{
    list-style-type: none;
}

/* columns of same height styles */
.row-same-height {
    display: table;
    width: 100%;
}
.col-sm-height {
    display: table-cell;
    float: none !important;
}

div#lesArtistes td{
    height:30%;
}

div#texteCommentaire{
    background-color: #494949;
    border-radius: 10px 0;
    color:white;
    padding: 2%;
    margin: 2%;
}

div#texteCommentaire a {
    /*text-decoration: none;*/
    color:white;
}

div#texteCommentaire form {
    position: absolute;
    right: 2%;
}

div#albumPhoto form#suppressionPhoto{
    position: absolute;
}

div#texteCommentaire button, div#albumPhoto button, div#playlist button {
    background-color: transparent;
}

h1, h2, h3{
    font-weight: bold;
    text-align: center;
}

aside#parution.col-lg-4 {
    margin-left: -30px;
    border-right: solid black 2px;
}

#bloc1{
    border-bottom: solid black 2px;
    padding-left: 0;
    padding-right: 0;
}
#musique{
    padding:0;
}

#artisteDeLaSemaine{
    border-left: solid black 2px;
}

#bloc1 ul.photo-grid{
    padding:0;
}

#evenementAttendus{
    border-bottom: solid black 2px;
}

#evenementAttendus #btnExtra{
    text-align: right;
}

#player{
    margin-left: 8%;
}

#bloc2{
    padding:0;
    border-bottom: solid black 2px;
}

#bloc2 section#carte{
    border-right: solid black 2px;
}

#bloc2 aside{
    border-bottom: solid black 2px;
    padding: 0;
}

#bloc2_2{
    padding:0;
}

#entete{
    text-decoration: underline;
    font-weight: bold;
}

#suivi td{
    background-color: #E51A32;
    border-radius: 10px 0;
    color: white;
}

#suivi table{
    border-spacing: 5px;
    border-collapse: separate;
}

#txtEvenement{
    margin-left: 10%;
}

div#txthover {
    background: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
    display: table;
    right: 5%;
    position: absolute;
    top: 20%;
    visibility: hidden;
}


button#suppression{
    color:white;
}

.date{
    font-weight:bolder;
    font-size: 20px;
    float: left;
}

table#tablePlaylist{
    background-color: #494949;
    border-radius: 10px ;
}
table#tablePlaylist tr{
    border-top: 1px grey dashed;
}

/* CI_DESSOUS HOVER PAGE INDEX */

.photo-grid {
    margin: auto;
    max-width: auto;
    text-align: center;
}

.photo-grid li {
    display: inline-block;
    width: auto;
}

.photo-grid li figcaption {
    width: auto;
    display: inline-block;
    height: auto;
}

.photo-grid figure {
    height: auto;
    width: auto;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.photo-grid figcaption {
    background: rgba(0,0,0,0.8);
    color: white;
    display: inline-block;
    height: auto;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    transition-delay: 100ms;
    z-index: 100;
}

.photo-grid figcaption p {
    display: inline-block;
    font-size: 1.5em;
    position: relative;
    top: -40px;
    width: auto;
    -webkit-transition: all 800ms ease-out;
    -moz-transition: all 800ms ease-out;
    transition: all 800ms ease-out;
}

.photo-grid li:hover figcaption {
    opacity: 0.7;
}

.photo-grid li:hover figcaption p {
    -moz-transform: translateY(40px);
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
}

/* FIN DE HOVER PAGE INDEX */
