#formulaireInscription div span.glyphicon.glyphicon-ok{
	color: #21e738;
}
#formulaireInscription div span.glyphicon.glyphicon-remove{
	color: #d40f0f;
}

#formulaireGestionProfil div span.glyphicon.glyphicon-ok{
	color: #21e738;
}
#formulaireGestionProfil div span.glyphicon.glyphicon-remove{
	color: #d40f0f;
}

