/*ul.menu li { 
    display : inline;
    color: black;
}
ul.menu {
    list-style-type : none;  Car sinon les puces se placent n'importe o� 
    box-shadow: 0px 5px 10px grey;
    border:solid black;
}

ul.menu a{
    text-decoration: none;
    color: black;
    margin: 0 4%;
}

section{
    border:solid black;
    box-shadow: 0px 5px 10px grey;
    width: 67%;
}

aside{
    width: 31%;
    float: right;
    border:solid black;
    box-shadow: 0px 5px 10px grey;
    vertical-align: top;
}

img{
    width: 75%;
}

div.icone{
    height: 10px;
    width: 10px;
}

footer{
    text-align: center;
}

footer li{
    list-style-type : none;
}

html{
background-color: #fff0d9;
}

body{
        background-color: #fff0d9;
        width: 80%;
        margin: auto;
}

*/

body {
    background-color: #fff0d9;
    margin :auto; /*a virer des que possible (bootstrap)*/
    width: 80%; /*a virer des que possible (bootstrap)*/
}

div#photoProfil{
    border: solid black 1px;
    min-height: 300px;

}
div#description{
    border: solid black 1px;
    height: 100px;
}
div#interaction{
    border: solid black 1px;
    min-height: 100px;
}
div#contenu{
    border: solid black 1px;
}
div#albumPhoto,#agenda,#acces{
    border: solid black 1px;
    min-height: 200px;
}

div#commentaire{
    border: solid black 1px;
}

#menuConnexion{
    border-left: solid 1px black;
}

#banner{
    border-bottom: solid 4px black;
}

img{
    width :100%;
}



#map-canvas {
	width: 230px;
	height: 200px;
	background-color : #CCC;	
}

div#commentaire img{

div#texteCommentaire img{

    height:20px;
    width :20px;
}


ul{
    list-style-type: none;
}

/* columns of same height styles */
.row-same-height {
    display: table;
    width: 100%;
}
.col-sm-height {
    display: table-cell;
    float: none !important;
}

div#menuConnexion img{
    max-height: 150px;

}

}

div#texteCommentaire{
    background-color: #494949;
    border-radius: 10px 0;
    color:white;
    
}

div#texteCommentaire a {
    text-decoration: none;
    color:white;
}

div#texteCommentaire form {
    text-align: right;
    height:10px;
}

